<div class="container">
    <p>takeoperator works!</p>
    <p>'amit','siya','kiran','shyam','dev','sharma','mukesh','golu','kanchan'</p>
    <div style="width: 100%;">
        <div style="width: 32%;">take (5)
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>
                        <ul *ngFor="let item of data">
                            <li>{{item}}</li>
                        </ul>
                    </td>
                </tr>
                
            </table>
            
        </div>
        <div style="width: 32%;">takelast(4)
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>
                        <ul *ngFor="let item of data1">
                            <li>{{item}}</li>
                        </ul>
                    </td>
                </tr>
                
            </table>
            
        </div><div style="width: 32%;">takeUntil
        
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>
                        <ul *ngFor="let item of data2">
                            <li>{{item}}</li>
                        </ul>
                    </td>
                </tr>
                
            </table>
        </div>
        </div>
    
</div>
