<div class="container">
    <p>async-subject works!</p>
    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Open modal
              </button>
            <h4>Add Name</h4>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" #name>
        </div>
        <div class="col-6">
            <app-my-button [text]="'Add Name'" [btnClass]="'btn-success'" (onbtnClick)="addName(name.value)"></app-my-button>
            <!-- <button type="button" (click)="addName(name.value)" class="btn btn-success">Add Name</button> -->
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-6">
            <h4>User Data</h4>
        </div>
        <div class="col-6">
            <h4>Complete</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>Name : {{asyncNameData}}</h4> 
        </div>
        <div class="col-6">
            <button type="button" (click)="completeSubscription()" class="btn btn-success">Add Name</button>
        </div>
    </div>
<div>
